gawk-4.1.1
remote
ucsc
*.gz
gzstream
*.patch
*.bam*
*.o
*.i
*.a
*.s
*.orig
*.tgz
*.fai
*.sizes
*.log
tags
*.err
uqct
.*
!.gdbinit
!.gitignore
hdes
RepBase
RepBase19.10.fasta
zlib-1.2.8
bwatest/hg19_GL*
FASTA\ Database\ Files*
manuals
bwatest/snaps/
*.zip
*.gcov
*.gcno
*.gcda
*.kc
*.2b
*.bd
*.fa
*.ub
*.fq
*.nn
*.uq
*.fa.*
*~
